


          



  
  <% provide(:title, current_user.first_name) %>
  <h1>
  <%= gravatar_for current_user %>
  </h1>



    <div class="container">
      <div class="centered">
        <div class="dropdown">

          <!-- trigger button -->
            <button>Courses</button>

          <!-- dropdown menu -->
              <ul class="dropdown-menu">
                    <li><a href="/courses/">Web Dev</a></li>
                      <li><a href="/courses/">iOS Dev</a></li>
                        <li><a href="/courses/">Data Science</a></li>
                      </ul>
              </div>
      
        <div class="dropdown">

          <!-- trigger button -->
            <button>Students</button>

          <!-- dropdown menu -->
            <ul class="dropdown-menu">
                <li><a href="/students/">Beyonce</a></li>
                  <li><a href="/students/">Rihanna</a></li>
                    <li><a href="/students/">Lana</a></li>
                  </ul>
              </div>
            </div>
          </div> 

        
    <style>

  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }

  .node text { font: 12px sans-serif; }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
  
    </style>

