

          



    <div class="container">
      <div class="centered">
        <div class="dropdown">

          <!-- trigger button -->
            <button>Courses</button>

          <!-- dropdown menu -->
              <ul class="dropdown-menu">
                    <li><a href="/courses/">Web Dev</a></li>
                      <li><a href="/courses/">iOS Dev</a></li>
                        <li><a href="/courses/">Data Science</a></li>
                      </ul>
              </div>

      
        <div class="dropdown">

          <!-- trigger button -->
            <button>Students</button>

          <!-- dropdown menu -->
            <ul class="dropdown-menu">
                <li><a href="/students/">Beyonce</a></li>
                  <li><a href="/students/">Rihanna</a></li>
                    <li><a href="/students/">Lana</a></li>
                  </ul>
              </div>
            </div>
          </div> 
        