<!DOCTYPE html>
<html>
<head>

<h2 class="navbar-fixed-top">//Attendr</h2>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid" id="button">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Instructor</a>
            <div id = 'list' class="hide">
               <ul id = 'list-ul'>
                <li>Records</li>
                <li>Courses</li>
                <li>Learn</li>
              </ul>
            </div>
           </div>
         <div>
         <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <% if !user_signed_in? %>  
              <li><%= link_to("Log In", new_user_session_path) %></li>
              <li><%= link_to("Sign Up", new_user_registration_path) %></li>
            <%else%>
              <li><%= link_to("Log Out", destroy_user_session_path, method: :delete) %></li>
            <%end%>
          </ul>
        </div> 
    </div>
  </nav>

</head>
          


<body>
    <div class="container">
      <div class="centered">
        <div class="dropdown">

          <!-- trigger button -->
            <button>Courses</button>

          <!-- dropdown menu -->
              <ul class="dropdown-menu">
                    <li><a href="/courses/">Web Dev</a></li>
                      <li><a href="/courses/">iOS Dev</a></li>
                        <li><a href="/courses/">Data Science</a></li>
                      </ul>
              </div>
      
        <div class="dropdown">

          <!-- trigger button -->
            <button>Students</button>

          <!-- dropdown menu -->
            <ul class="dropdown-menu">
                <li><a href="/students/">Beyonce</a></li>
                  <li><a href="/students/">Rihanna</a></li>
                    <li><a href="/students/">Lana</a></li>
                  </ul>
              </div>
            </div>
          </div> 
        </body>
      </html>
    <style>

  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }

  .node text { font: 12px sans-serif; }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
  
    </style>