/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 *= require_self

 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */


@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */


.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.navbar {
	opacity: 0.7;
	background-color: #686868;
}

.btn-xlg {
    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.navbar-nav > li > a {
color: white !important;
font-size: 16px !important;
	
}

.footer {
	padding-bottom: 0px !important;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: #bdbdbd;
}


.footer > p {
	margin-bottom: 0 !important;
}

.footer > p > a {
	margin: 0 auto;
	color: #ffffff;
	font-size: 32px;
	text-decoration: none;
}

.footer > p > a:hover {
	color: #686868;
}

.footer > p > a > img {
	height: 100px;
	width: 100px;
}

.footer2 {
	padding-bottom: 0px !important;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: #bdbdbd;
	
}

.footer2 > p {
	margin-bottom: 0 !important;
}

.footer2 > p > a {
	margin: 0 auto;
	color: #ffffff;
	font-size: 32px;
	text-decoration: none;
}

.footer2 > p > a:hover {
	color: #686868;
}

.footer2 > p > a > img {
	height: 100px;
	width: 100px;
}

/** Button Style- a tag is for index.html.erb button font to be white **/
a {
  color: white;
}

/** error message **/

.row {
	font-size: 20px;
	color: red;
	font-weight: bold;
}

