// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
  margin: auto;
}

.show-week {
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

div.col-md-4 {
  text-align: center;
  color: black;
}