// Place all the styles related to the Instructors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin-right: auto;
  margin-left: auto;
  display: block;
}
​
div.container div.centered button.btn.btn-primary.btn-lg.outline {
  margin-right: auto;
  margin-left: auto;
  display: block;
}
​
div.container div.centered button.btn.btn-primary.btn-lg.outline:first-child {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.container {
  text-align: center;
}
.centered {
  display: inline-block;
}

.dropdown {
    position: relative;

    /** Make it fit tightly around it's children */
    display: inline-block;
}

.dropdown .dropdown-menu {
    position: absolute;

    /**
     * Set the top of the dropdown menu to be positioned 100%
     * from the top of the container, and aligned to the left.
     */
    top: 100%;
    left: 0;

    /** Allow no empty space between this and .dropdown */
    margin: 0;
}

.dropdown:hover .dropdown-menu {

    /** Show dropdown menu */
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    margin: 0;

    /****************
     ** NEW STYLES **
     ****************/

    list-style: none; /** Remove list bullets */
    width: 100%; /** Set the width to 100% of it's parent */
    padding: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/** Button Styles **/
.dropdown button {
    background: #29b8e5;
    color: #FFFFFF;
    border: none;
    margin: 0;
    padding: 0.4em 0.8em;
    font-size: 3em;
  

}

/** List Item Styles **/
.dropdown a {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;
    background: #CCCCCC;
    color: #333333;
}

/** List Item Hover Styles **/
.dropdown a:hover {
    background: #BBBBBB;
}

/** CSS for tree layout **/
.node {
    cursor: pointer;
  }


  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }

  .node text { font: 12px sans-serif; }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
/** Css Tree layout end **/

/** gravatar **/
* {
  margin: 1; padding: 1px;
}
.cont {
  font-size: 0;
}
.right, .left {
  font-size: 1.6rem;
  float: left;
  min-height: 600px;
  position: absolute;
}

.left {
  padding: 10px;
  box-sizing: border-box;
  width: 23%;
  background-color: #333;
}
/*.right {
  width: 1px;
}*/

.left img {
  display: block;
  width: 200px;
  margin: auto;
  margin-top: 80px;
  border-radius: 1000px;
}

.left .info  {
  border-top: 1px solid #2ff;
  margin-top: 30px;
  padding-top: 25px;
  font-family: Helvetica;
  color: #fff;
}

.left .info  .value {
  font-weight: 100;
}