// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel img {
    min-width: 100%;
}

.navbar-nav > li > a {

	
}




#info {
	padding-top: 35px;
}

#about {
	background-color: #e9e9e9;
	text-align: center;
}

.quadrant {
	padding-bottom: 10px;
}

.glyphicon {
	font-size: 50px;
	margin-bottom: 15px;
}

.ontop {
    position: absolute;
    float: left;
    z-index: 99999;
    }

.cropcircle{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
    border-style: solid;
    border-color: #29b8e5;
    margin-left: auto;
	margin-right: auto;
	float: none !important;
}

#image1{
    background-image: url(jenna.jpg);
}

#image2{
	background-image: url(dylan.jpg);
}

#image3 {
	background-image: url();
}

#image4 {
	background-image: url(bruna.jpg);
}

.name {
	text-align: center;
	color: #3F3B39 !important;
}

.icon {
	text-align: center;
}

.icon > img {
	height: 30px;
	width: 30px;
}

.icon > img:hover {
	opacity: .5;
}


.dropdown-two {
    position: relative;

    /** Make it fit tightly around it's children */
    display: inline-block;
}

.dropdown-two .dropdown-menu-two {
    position: absolute;

    /**
     * Set the top of the dropdown menu to be positioned 100%
     * from the top of the container, and aligned to the left.
     */
    top: 100%;
    left: 0;

    /** Allow no empty space between this and .dropdown */
    margin: 0;
}

.dropdown-two:hover .dropdown-menu-two {

    /** Show dropdown menu */
    display: block;
}

.dropdown-two {
    position: relative;
    display: inline-block;
}

.dropdown-two .dropdown-menu-two {
    position: absolute;
    top: 100%;
    display: none;
    margin: 0;

    /****************
     ** NEW STYLES **
     ****************/

    list-style: none; /** Remove list bullets */
    width: 100%; /** Set the width to 100% of it's parent */
    padding: 0;
}

.dropdown-two:hover .dropdown-menu-two {
    display: block;
    z-index: 999;
}

/** Button Styles **/
.dropdown-two button {
    background: #29b8e5;
    color: #FFFFFF;
    border: none;
    margin: 0;
    padding: 0.0em 0.9em;
    font-size: 2em;
    z-index: 999;
}

/** List Item Styles **/
.dropdown-two a {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;
    background: #29b8e5;
    color: white;
    z-index: 999;
}

/** List Item Hover Styles **/
.dropdown-two a:hover {
    background: #BBBBBB;
    z-index: 999;
}