// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel img {
    min-width: 100%;
}

#info {
	padding-top: 35px;
}

#about {
	background-color: #e9e9e9;
	text-align: center;
}

.quadrant {
	padding-bottom: 10px;
}

.glyphicon {
	font-size: 50px;
	margin-bottom: 15px;
}

.ontop {
    position: absolute;
    float: left;
    z-index: 99999;
    }

.cropcircle{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
    border-style: solid;
    border-color: #7FF6BF;
    margin-left: auto;
	margin-right: auto;
	float: none !important;
}

#image1{
    background-image: url(jenna.jpg);
}

#image2{
	background-image: url();
}

#image3 {
	background-image: url();
}

#image4 {
	background-image: url(bruna.jpg);
}

.name {
	text-align: center;
	color: #3F3B39 !important;
}

.icon {
	text-align: center;
}

.icon > img {
	height: 30px;
	width: 30px;
}

.icon > img:hover {
	opacity: .5;
}

    