<footer class="footer">
<div class="container">
</div>
<p class="text-center"><a href="//github.com"><img src="https://www.thoughtworks.com/imgs/icons/social/github.png"> View On GitHub <span class="glyphicon glyphicon-share-alt"></span></a></p>
</footer>