<% if !user_signed_in? || !admin_signed_in? %>
  <nav class="navbar navbar-default">
    

      <div class="navbar-header">
      <div class="btn btn-success btn-xlg">//Attendr</div>
      
    </div>
    <button type="button" data-target="#navbarCollapse" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
     </button>

     <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              <!-- <li><a href="/users/sign_up">Student</a></li> -->

  </div>
  <button type="button" data-target="#navbarCollapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
   </button>

   <div id="navbarCollapse" class="collapse navbar-collapse">
        
        <ul class="nav navbar-nav navbar-right">
           
           <div class="dropdown-two">
            
    <!-- trigger button -->
            <button>Student</button>

            <!-- dropdown menu -->
            <ul class="dropdown-menu-two">
                <li><a href="/users/sign_up">Sign up</a></li>
               <li><a href="/users/sign_in">Sign in</a></li>
            </ul>
          </div>


          <div class="dropdown-two">

            <!-- trigger button -->
            <button>Instructor</button>


            <!-- dropdown menu -->
            <ul class="dropdown-menu-two">
                <li><a href="/users/sign_up">Sign up</a></li>
               <li><a href="/users/sign_in">Sign in</a></li>
               
            </ul>

          </div>

               </ul>
            </div>
</nav>


              <!-- <li><a href="/admins/sign_up">Instructor</a></li>
              <li><a href="..#about">About</a></li> -->
          </ul>
      </div>
  </nav>
<%end%>