<nav class="navbar navbar-default navbar-fixed-top">
  
    <div class="navbar-header">
    <div class="btn btn-success btn-xlg">Get //Attendr</div>
    
  </div>
  <button type="button" data-target="#navbarCollapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
   </button>

   <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Login</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
</nav>