  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" id="button">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <%= current_user.first_name%>
            </a>
            <div id = 'list' class="hide">
              <ul id = 'list-ul'>
                <li>Records</li>
                <li>Courses</li>
                <li>Learn</li>
              </ul>
            </div>
          </div>
        <div>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
            <%if user_signed_in? %>
              <li><%= link_to("Log Out", destroy_user_session_path, method: :delete) %></li>
            <%end%>
          </ul>
        </div> 
    </div>
  </nav>